/* Navbar.css */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: "poppins", sans-serif;
  }
  
 
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  .logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  
  .navbar-links a:hover {
    color: #0077ff;
  }
  
  .logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #e60000;
  }
  